extends layout
block content
      div#chart(style="min-width: 400px; height: 500px; margin: 0 auto")
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='http://code.highcharts.com/stock/highstock.js')
        script(src='http://code.highcharts.com/stock/modules/exporting.js')
        script(src='/javascripts/temps.js')


