extends layout

block content
    h1=title
    p Welcome to the API

    //Wrapper
    #wrapper

        //Messages
        h2 Message List
        #messageList
            table
                th Message

            tbody
        // / MESSAGE LIST

    //  /WRAPPER
